{
  "presets": [
    [
      "@babel/preset-react",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "transform-export-extensions",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "src",
            "rootPathPrefix": "~/"
          },
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "#/"
          }
        ]
      }
    ]
  ]
}